@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to drshakeel.com</h1>
    <p>This website is Under construction!</p>
    <img src=""
</div>
